
body{
  background-color: #090A0E;
  color: white;
}

.max-center{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-container{
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;

  background-color: #0F1014;

  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr ;
}

.movie-cover{
  width: 100%;
}

.movie-placeholder{
  min-height: 359px;
  background-color: white;
  color: #090A0E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero{
  min-height: 700px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.hero-content{
  max-width: 70%;
  padding-bottom: 60px;
}

.container{
  background-size: cover;
}

.hero-title{
  font-size: 72px;
  margin: 0;
}

.footer-box {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}
