
body{
  background-color: #090A0E;
  color: white;
}

.max-center{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-container{
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;

  background-color: #0F1014;

  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr ;
}

.movie-cover{
  width: 100%;
}

.movie-placeholder{
  min-height: 359px;
  background-color: white;
  color: #090A0E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero{
  min-height: 700px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .hero {
    min-height: 400px; 
  }
}

@media (max-width: 480px) {
  .hero {
    min-height: 300px;
  }
}

.hero-content{
  max-width: 70%;
  padding-bottom: 60px;
}

.container{
  background-size: cover;
}

.hero-title{
  font-size: 72px;
  margin: 0;
}

.footer-box {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.watch-list-button{
  background-color: #007bff; 
  color: #fff; 
  border: 2px solid #007bff; 
  outline: none; 
  font-size: 18px; 
  padding: 10px 20px; 
  margin: 5px;
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.watch-list-button:hover {
  background-color: #0056b3; /* ホバー時の背景色 */
  color: #fff; /* ホバー時のテキストカラー */
}

.watch-list-show{
  display: flex; 
  align-items: center;
  margin-bottom: 20px; 
}

.saved-movie {
  width: 100px;
  height: auto; 
  margin-right: 20px;
}

.movie-placeholder-watch-list {
  width: 100px;
  height: auto;
  margin-right: 20px; 
}

.watch-list-overview {
  flex-grow: 1;
}

.watch-list-review {
  font-weight: bold; 
  color: goldenrod;
}

.watch-list-delete-button{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff; 
  color: #ffffff; 
  transition: background-color 0.3s ease;
  margin: 20px;
}

.evaluate-text{
  display: flex;
}

.star-icon{
  color: gold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  font-size: 24px;
}

.reviewed-number{
  font-size: 24px;
  color: aqua;
}

.mypage-container{
  overflow-y: auto;
  max-height: auto;
}